
.wrapper{
    font-family: 'Century Gothic', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.nameUser{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #002e58;
    line-height: 46px;
}
.profession{
    font-weight: 500;
    color: #000;
    margin: 0;
    margin-bottom: 30px;
}
.emailTitle,
.phoneTitle,
.addressTitle{
    font-size: 16px;
    font-weight: 700;
}
.urlTitle{
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}
.email,
.phone,
.address,
.url{
    font-size: 16px;
    font-weight: 500;
}
.wrapperEmail,
.wrapperPhone,
.wrapperAddress{
    display: flex;
    align-content: center;
    gap: 20px;
}
.phoneTitle,
.phone,
.addressTitle,
.address{
    margin-top: 0;
}
.skillsTitle,
.experienceTitle,
.educationTitle,
.competenciesTitle{
    color: #000;
    margin: 0;
}
.experienceTitle,
.educationTitle,
.skillsTitle,
.competenciesTitle{
    margin-bottom: 20px;
}
.listSkills{
    margin-left: 300px;
    color: #000;
}
.textAboutUser{
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
}
.listUrls{
    display: flex;
    margin-left: 100px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
}
.wrapperSkills{
    margin-bottom: 20px;
}
.innerExperience,
.innerEducation{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.wrapperExperience{
    margin-bottom: 20px;
}
.date{
    color: #000;
    font-size: 16px;
    margin: 0;
    width: 120px;
}
.jobTitle{
    margin: 0;
    color: #000;
    font-size: 16px;
}
.companyNameAndCity{
    font-size: 16px;
    color: #000;
}
.description{
    font-size: 16px;
    color: #000;
}
.wrapperEducation{
    margin-bottom: 20px;
}
.studyTitle{
    margin: 0 0 10px 0;
    color: #000;
    font-size: 16px;
}
.studyCity{
    margin: 0 0 10px 0;
    color: #000;
    font-size: 16px;
}
.dateStudy{
    margin: 0;
    color: #000;
    font-size: 16px;
}
.wrapperSocial{
    margin-bottom: 20px;
}
.innerSkills{
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
}
.wrapperUserInfo{
    display: flex;
    gap: 150px;
}
.innerCompetencies{
    margin: 0 0 20px 170px;
}